/* .vitepress/theme/custom.css */
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(27deg, #7b19f8, #715ffb, #598cfd, #01b4ff);
    --vp-button-brand-border: #773bf9;
    --vp-button-brand-bg: #773bf9;
    --vp-button-brand-hover-border: #617ffc;
    --vp-button-brand-hover-bg: #617ffc;
    --vp-home-hero-image-background-image: -webkit-linear-gradient(135deg, #7b19f8, #715ffb, #598cfd, #01b4ff);
    --vp-home-hero-image-filter: blur(90px); 
    --vp-c-brand: #773bf9;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-lighter: #9499ff;
    --vp-c-brand-lightest: #bcc0ff;
    --vp-c-brand-dark: #535bf2;
    --vp-c-brand-darker: #454ce1;
    --vp-badge-tip-border: #773bf9;
    --vp-badge-tip-text: #773bf9;
    --vp-badge-warning-border: #f85523;
    --vp-badge-warning-text: #f85523;
    --vp-badge-danger-border: #e32636;
    --vp-badge-danger-text: #e32636;
}